.rating {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 00px;
    padding: 25px;
    width: calc(100vw - 50px);
    max-width: 100vw;

    @media (max-width: 1440px) {
      flex-wrap: wrap;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 119.9%;
        text-align: center;
        @media (max-width: 767px) {
          font-size: 24px;
        }
    }
}