.input {
  @media (max-width: 767px) {
    font-size: 20px;
  }

  outline: none;
  width: 100%;
  flex: 1 1 100%;

  border: 2px solid #90FF5B;
  border-radius: 40px;
  background: none;

  box-sizing: border-box;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

  font-size: 24px;
  font-weight: 400;
  color: #737373;
  padding: 14px 20px;

  &:not(:last-child) {
    margin-top: 10px;
  }

  &::placeholder {
    color: #90FF5B;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 119.9%;
  }
}