.button {
  box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);

  &._visible {
    display: block;
  }

  &._hidden {
    display: none;
  }

  &:disabled {
    cursor: default;
    color: #acacac;
  }

  @media (max-width: 767px) {
    font-size: 16px;
    flex: 1 1 100%;

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  text-decoration: none;
  cursor: pointer;
  text-align: center;
  outline: none;
  transition: all 0.1s ease 0s;
  position: relative;

  flex: auto;

  color: black;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 119.9%;
  background: #90FF5B;
  border-radius: 50px;
  border: none;

  padding: 20px 36px;

  &._inactive {
    background: #EAEAEA;
  }

  &._white {
    font-weight: 700;
    border: solid 2px #90FF5B;
    color: #67f027;
    background-color: white;
  }

}