.prompt {
  transition: all 0.3s ease 0.1s;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  visibility: visible;
  opacity: 1;

  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    border-radius: 40px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);
    width: 100%;
    position: relative;

    @media (min-width: 691px) {
      max-width: 631px;
    }

    max-width: calc(100vw - 60px);
    padding: 25px;
    background: white;
  }

  &__close {
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    position: absolute;
    top: 12px;
    right: 22px;
    font-size: 24px;
  }

  &__title {
    font-weight: 700;
    text-align: center;
    margin-bottom: 5px;

    @media (max-width: 767px) {
      font-size: 20px;
    }
  }

  &__text {
    font-size: 20px;

    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
}