.rating-item {
    user-select: none;
    flex: 30%;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: flex-end;
    @media (max-width: 1440px) {
        width: 100%;
      height: auto;
      flex: 0 0 100%;
    }
    &__place {
        z-index: 10;
        top: 0;
        left: 0;
        position: absolute;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        line-height: 70%;
        font-size: 1000px;
        @media (max-width: 1440px) {
         display: none;
        }

        /* identical to box height, or 1199px */

        background: linear-gradient(170.55deg, #D3D3D3 3.95%, rgba(244, 244, 244, 0) 102.78%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
    }

    &__complex {
        position: relative;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 119.9%;
        z-index: 100;
        margin-bottom: 15px;
        @media (max-width: 991px) {
          font-size: 24px;
        }

        @media (max-width: 767px) {
          font-size: 18px;
        }
    }

    &__info{
        width: 80%;
        text-align: center;
        position: relative;
        z-index: 100;
        background: white;
        border-radius: 60px;
        border: 1px solid#E1E1E1;
        padding: 30px;
        margin-top: 10px;
        @media (max-width: 1240px) {
            width: 100%;

        }
    }
}