.mobile-download {
    max-width: 1620px;
    display: flex;
    padding: 30px 0;

    @media (max-width: 1620px) {
        flex-wrap: wrap;
    }

    &__img {
        max-height: 800px;
        @media (max-width: 1440px) {
          max-height: 400px;
        }
    }

    &__img-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left {
        padding: 25px;
        flex: 0 0 calc(65% - 50px);

        @media (max-width: 1620px) {
            flex: 1 1 100%;
        }
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 119.9%;
        @media (max-width: 767px) {
          font-size: 24px;
          text-align: center;
        }
    }

    &__right {
        padding: 25px;
        flex: 0 0 calc(35% - 50px);
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        @media (max-width: 1620px) {
            flex: 1 1 100%;
            width: calc(100% - 50px);
        }
    }

    &__pluses {
        margin: 20px 0;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 50px;
        @media (max-width: 767px) {
          margin-right: 0;
        }
    }

    &__button {
        display: block;
        text-align: center;
        margin-bottom: 10px;
        width: 350px;
        @media (max-width: 1440px) {
            width: 280px;
        }

        &:not(:last-child) {
            margin-right: 0;
        }
    }
}