.intro {
   
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    &__bg {

        width: 35vw;
        height: 100vh;

        @media (max-width: 991px) {
            display: none;
        }
    }

    &__container {
        margin-left: 15px;
    }

    &__inner {
        @media (max-width: 1260px) {
            padding: 0 15px;
        }

        padding-left: 100px;
        height: 100vh;

        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;

    }

    &__wrapper {
        width: 65vw;

        @media (max-width: 991px) {
            width: 100vw;
        }
    }

    &__title {
        position: relative;
        z-index: 1000;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 900;
        font-size: 48px;
        line-height: 119.9%;
        color: black;
        @media (max-width: 1440px) {
          line-height: 100%;
        }

        @media (max-width: 991px) {
            font-size: 26px;
            text-align: center;
        }

        span {
            font-weight: 700;
            color: #90FF5B;
        }

        p {
            font-weight: 700;

        }
    }

    &__subtitle {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 119.9%;
        margin: 40px 0 80px;

        @media (max-width: 1440px) {
          margin: 40px 0;
        }

        @media (max-width: 991px) {
            font-size: 20px;
            text-align: center;
        }

        @media (max-width: 767px) {
          font-size: 18px;
        }

        p {
            font-weight: 500;

        }
    }

    &__button-wrapper {
        max-width: 580px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        @media (max-width: 991px) {
          max-width: 100%;
          width: calc(100% - 25px);
        }
    }

    &__button {
        flex: 1 1 100%;
        @media (max-width: 767px) {
            width: calc(100% - 50px);
            padding: 20px;
            flex: 1 1 calc(100% - 50px);
        }
        padding: 28px 56px;
        margin: 20px 0;
        &:not(:last-child){
          margin-left: 0;
        }

        &._litle {
            width: 50%;
            flex: 0 0 50%;
            @media (max-width: 767px) {
                width: calc(100% - 50px);
                flex: 1 1 calc(100% - 50px);
            }
        }



    }

    &__register {
        cursor: pointer;
        margin-top: 50px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 119.9%;
        @media (max-width: 991px) {
          text-align: center;
        }
    }
}