.admin-item {

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        border: 2px solid #90FF5B;
        border-radius: 25px;
    }

    &__field {
        flex: 1 1 33%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 119.9%;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }
}

.estate-admin {
    display: flex;
        align-items: center;
        justify-content: flex-start;
    margin: 10px 0;
    padding: 10px;
    border: 2px solid #90FF5B;
    border-radius: 25px;
    width: calc(95% - 10px);
    margin-left: calc(5% - 10px);

    @media (max-width: 767px) {
        width: calc(85% - 10px);
        margin-left: calc(15% - 10px);
    }

    &__field {
        flex: 1 1 33%;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 119.9%;

        @media (max-width: 767px) {
            font-size: 16px;
        }
    } 

    &__add {
        cursor: pointer;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 119.9%;

        font-weight: 700;
        color: #67f027;

        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}