.estate {
    text-decoration: none;
    color: black;
    cursor: pointer;

    @media (max-width: 991px) {
        width: 100%;
    }

    &__name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 119.9%;
        margin-bottom: 25px;
    }

    &__img-wrapper {
        position: relative;
        flex: 0 0 48%;
        margin-bottom: 20px;
        width: 48vw;
        height: 580px;
        overflow: hidden;
        border-radius: 15px;
        @media (max-width: 1260px) {
            flex: 0 0 100%;
            width: 100%;
            height: 200px;
        }

        @media (max-width: 991px) {

        }
    }

    &__img {
        width: 150%;
        height: 150%;
        position: absolute;
        top: -50%;
        left: -50%;
    }
}