@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype"),
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  src: url("../fonts/Montserrat-Medium.ttf") format("truetype"),
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url("../fonts/Montserrat-Bold.ttf") format("truetype"),
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  src: url("../fonts/Montserrat-Black.ttf") format("truetype"),
}


body {
  &._menu {
    overflow: hidden;
  }
}

* {
  font-family: "Montserrat";
  font-weight: 400;
  padding: 0;
  margin: 0;
}

#app {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: calc(100vw - 30px);
}