.plus {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &__name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 119.9%;
        margin-left: 10px;
        @media (max-width: 767px) {
            font-size: 18px;
          }
    }

    &__icon{
        width: 10;
        height: 10;
    }
    &:not(:last-child){
      margin-bottom: 20px;
    }
}