.estate-info{
    @media (max-width: 991px) {
        display: none;
      }
    max-width: calc(50vw - 50px);
    flex: 0 0 50%;
    padding: 25px;
    @media (max-width: 991px) {
      flex: 0 0 100%;
    }
    &__buttons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
    }

    &__button {
        padding: 20px 10px;
    }
    &__map{
        padding-top: 59px;
    }
}