.estate-list {
    min-height: 2600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 80px;
    padding: 0 25px;
    &__button-wrapper{
        display: flex;
        width: calc(100% - 30px);
        justify-content: center;
        padding: 0 15px;
    }
}