@import '../../styles/Themes.scss';

.header {

  height: 110px;
  width: 100%;
  position: relative;


  &__inner {
    z-index: 1001;


    padding: 10px 15px;
    width: calc(100% - 30px);


    &._intro {
      height: 160px;
      width: calc(65vw - 240px);
      padding: 15px 125px 15px 115px;
      background: none;

      @media (max-width: 1620px) {
        width: calc(65vw - 130px);
        padding: 15px 15px 15px 115px;

      }

      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 1260px) {
        padding: 15px;
        width: calc(65vw - 30px);
      }

      @media (max-width: 991px) {
        width: calc(100vw - 30px);
      }
    }

    // &._scroll{
    //     padding: 5px 15px;
    // }

    height: 60px;
    transition: all 0.3s ease 0s;


    background: white;

    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;
  }

  &__drop {
    transition: all 0.3s ease 0s;

    @media (max-width: 767px) {
      flex-direction: column-reverse;
      position: fixed;
      right: -3000px;
      height: calc(100vh - 60px);
      padding-bottom: 15px;
      overflow: auto;
      background: white;
      top: 61px;

      &._active {
        top: 60px;
        right: 0px;
        z-index: 1000;
      }
    }

    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 100%;
    flex: 1 1 90%;
  }

  &__logo {
    flex: 1 1 10%;
  }
}

.logo-header {

  &__logo {
    margin-bottom: -6px;
    display: block;
    font-size: 24px;
    color: black;
    text-decoration: none;
    flex: 1 1 10%;
  }
}

.links-header {
  @media (max-width: 767px) {
    display: block;
    width: 100%;
    z-index: 1;
  }

  flex: 1 1 90%;
  display: flex;

  justify-content: flex-end;
  align-items: center;

  &__link {
    @media (min-width: 767px) {
      &:not(:last-child) {
        margin-right: 40px;
      }
    }

    @media (max-width: 767px) {
      padding: 5px;
      font-size: 24px;
    }

    text-align: center;
    display: block;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 119.9%;
    color: black;
    text-decoration: none;
  }

}

.profile-header {
  position: relative;
  z-index: 9999;
  flex: 1 1 5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  @media (max-width: 767px) {
    width: 100%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
  }

  position: relative;

  &__balance {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 119.9%;
    margin: 0 15px 0 0;
  }

  &__avatar-button {
    filter: invert(1);
    outline: none;
    background: none;
    border: none;

    @media (max-width: 767px) {
      display: none;
    }

    max-height: 60px;
    max-width: 60px;
  }

  &__avatar {
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;

    @media (max-width: 767px) {
      filter: invert(1);
      height: 120px;
      width: 120px;
    }

    @media (max-width: 420px) {
      height: 35px;
      width: 35px;
    }
  }

  &__avatar-link {
    max-height: 35px; 
    max-width: 35px;

    @media (max-width: 767px) {
      max-height: 260px;
      max-width: 260px;
      filter: invert(0);
    }

    @media (max-width: 420px) {
      max-height: 160px;
      max-width: 160px;
    }
  }

  &__info {
    padding: 10px 15px;
    display: flex;

    justify-content: flex-start;
    align-items: center;
  }

  &__info-text {

    width: 100%;
    flex: 1 1 auto;
    margin-left: 10px;
  }

  &__name {
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    color: white;

    @media (max-width: 767px) {
      font-size: 24px;
      color: black;
    }
  }

  &__status {
    padding-top: 2px;
    font-size: 16px;

    @media (max-width: 767px) {
      font-size: 20px;
      padding: 5px 0;
    }
  }

  &__links {
    padding: 0px 10px 10px;
    border-top: 1px solid rgb(0, 0, 0, 0.05);
    ;

    @media (max-width: 767px) {
      padding: 10px 0 0 0;
    }
  }

  &__link {
    cursor: pointer;
    text-align: left;
    transition: all 0.3s linear;
    border: none;
    background: none;

    @media (max-width: 767px) {
      font-size: 24px;
      text-align: center;
    }

    padding: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 119.9%;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: black;
    background: none;
    border: none;

    &._login {
      border-radius: 25px;
      background: white;
      padding: 10px 16px;
    }
  }

  &__link-drop {
    cursor: pointer;
    text-align: left;
    transition: all 0.3s linear;
    border: none;
    background: none;

    @media (max-width: 767px) {

      padding: 5px;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 500;
      font-size: 24px;
      line-height: 119.9%;
      white-space: nowrap;
      display: block;
      text-decoration: none;
      color: black;
      background: none;
      border: none;
      text-align: center;
    }

    padding: 0px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 119.9%;
    margin: 3px 0;
    white-space: nowrap;
    display: block;
    text-decoration: none;
    color: white;
    background: none;
    border: none;
  }

  &__drop {
    z-index: 5;
    border-radius: 10px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);
    pointer-events: none;
    width: 100%;
    min-width: 300px;
    transition: all 0.1s linear;
    opacity: 0;
    background: black;
    position: absolute;
    right: -12px;
    top: calc(100% + 31px);

    @media (min-width: 767px) {
      &._active {
        pointer-events: all;
        opacity: 1;
      }
    }

    @media (max-width: 767px) {
      background-color: white;

      box-shadow: none;
      pointer-events: all;
      opacity: 1;
      padding: 0;
      position: relative;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      &::after {
        display: none;
      }
    }

    &::after {
      content: "";
      z-index: 6;
      top: -5px;
      right: 22px;
      height: 15px;
      width: 15px;
      position: absolute;
      border-left: 1px solid rgba(255, 255, 255, 0.05);
      border-top: 1px solid rgba(255, 255, 255, 0.05);
      background-color: black;
      transform: rotate(45deg);
      transition: all 0.1s ease 0s;
    }
  }
}


.header__burger {
  @media (max-width: 767px) {
    display: block;
  }

  display: none;
  z-index: 1000;
  cursor: pointer;

  &>span,
  &>span::before,
  &>span::after {
    display: block;
    content: '';
    position: relative;
    width: 40px;
    height: 4px;
    background-color: black;
    transition: all .3s linear;
    border-radius: 15px;
  }

  &>span::before {
    top: -12px;
  }

  &>span::after {
    top: 8px;
  }

  &._active>span {
    background-color: white;
  }

  &._active>span::after {
    transform: rotate(45deg);
    top: -4px;
  }

  &._active>span::before {
    transform: rotate(-45deg);
    top: 0px;
  }
}