.buttons-prompt {

  position: relative;
  margin-top: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;



  &__button {
    border-radius: 5px;
    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);

    @media (max-width: 767px) {
      font-size: 16px;
      flex: 1 1 100%;
      margin-bottom: 5px;
    }


    box-shadow: 0px 0px 1px 1px rgb(0, 0, 0, 0.05);
    border: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: all 0.1s ease 0s;
    position: relative;

    padding: 20px 36px;

    text-decoration: none;
    cursor: pointer;
    text-align: center;
    outline: none;
    transition: all 0.1s ease 0s;
    position: relative;

    flex: auto;

    color: black;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 119.9%;
    background: #90FF5B;
    border-radius: 50px;
    border: none;

    padding: 20px 36px;

  }
}