.admin {
    padding: 0 15px;

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 119.9%;
        margin-bottom: 20px;
    }

    &__add {
        margin: 20px 0;

        @media (max-width: 767px) {
            width: 100%;
        }
    }
}