.not-found {
    display: flex;
    justify-content: center;
    align-items: center;



    &__inner {
        text-align: center;
    }

    &__title {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 60px;
        line-height: 80%;

        @media (max-width: 991px) {
            font-size: 40px;
        }

        @media (max-width: 767px) {
            font-size: 20px;
        }
    }


    &__bg {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 400px;
        line-height: 120%;

        @media (max-width: 991px) {
            font-size: 200px;
        }

        @media (max-width: 767px) {
            font-size: 100px;
        }
    }

    &__button {
        width: 50%;
        margin-top: 50px;
        @media (max-width: 991px) {
          width: 100%;
        }
    }
}