.form-auth {
    &__link {
        cursor: pointer;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        line-height: 119.19%;
        margin: 20px 0 10px;
    }

    &__error {

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 119.9%;

        margin: 5px 0;

        color: rgb(235, 70, 70)
    }
}