.complex-info {
    flex: 0 0 calc(45% - 50px);
    padding: 25px;
    max-width: 100vw;

    @media (max-width: 991px) {
        flex: 0 0 100%;
    }

    &__img-wrapper {
        position: relative;
        width: 45vw;
        height: 580px;
        overflow: hidden;

        @media (max-width: 991px) {
            width: 100%;
            height: 200px;
        }
    }

    &__img {
        position: absolute;
        top: -50%;
        left: -50%;
        width: 150%;
        height: 150%;
    }

    &__name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 119.9%;

        margin-bottom: 30px;
    }

    &__rating {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 20px 0 10px;
    }

    &__rating-rating {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 119.9%;

        margin-left: 10px;
    }

    &__button {
        width: 100%;
        margin-top: 15px;
    }
}