.info-field {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;

    &__name {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 119.9%;

        @media (max-width: 1440px) {
            font-size: 20px;
        }

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &__value {
        flex: 1 1 auto;
        margin-left: 5px;

        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 119.9%;

        @media (max-width: 1440px) {
            font-size: 20px;
        }

        @media (max-width: 767px) {
            font-size: 16px;
        }
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}